<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="员工管理.Properties.Settings.ConnectionString" connectionString="Data Source=TBH-PC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="员工管理.Properties.Settings.db_StaffConnectionString"
            connectionString="Data Source=TBH-PC;Initial Catalog=db_Staff;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>